i.fa-exclamation-circle {
	color: #26a69a;
}

.more-btn {
	color: var(--primary-color);
}

.more-btn-container {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 20px;
	width: 20px;
	height: 20px;
}

.more-btn-container:hover {
	background-color: #507fb425;
	transition: all 0.2s;
}

.more-btn-container:hover .more-btn {
	color: #436c97;
	transition: all 0.2s;
}
